In [1]:
import pandas as pd
import numpy as np

In [2]:
# fixed width file
data = pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None,)

In [3]:
data.head()

         0_1         2
0 1950-01-01 -0.060310
1 1950-02-01  0.626810
2 1950-03-01 -0.008128
3 1950-04-01  0.555100
4 1950-05-01  0.071577

In [4]:
data.columns = ['month', 'value']
data.index = data.month
data = data.drop('month', 1)

In [5]:
data.head()

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577

In [6]:
data['1950':'1952'] #What do you notice about the range of dates?
#monthly values for each year

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
1950-06-01  0.538570
1950-07-01 -0.802480
1950-08-01 -0.851010
1950-09-01  0.357970
1950-10-01 -0.378900
1950-11-01 -0.515110
1950-12-01 -1.928100
1951-01-01 -0.084969
1951-02-01 -0.399930
1951-03-01 -1.934100
1951-04-01 -0.776480
1951-05-01 -0.862780
1951-06-01 -0.917860
1951-07-01  0.090023
1951-08-01 -0.377410
1951-09-01 -0.817780
1951-10-01 -0.212910
1951-11-01 -0.068519
1951-12-01  1.987200
1952-01-01  0.368250
1952-02-01 -1.747200
1952-03-01 -1.859500
1952-04-01  0.538520
1952-05-01 -0.773510
1952-06-01 -0.440930
1952-07-01  0.383080
1952-08-01 -0.030367
1952-09-01 -0.383450
1952-10-01 -0.437170
1952-11-01 -1.890900
1952-12-01 -1.826700

In [ ]:
# What is the empirical range of dates?

In [7]:
min(data.index)

Timestamp('1950-01-01 00:00:00')

In [8]:
max(data.index)

Timestamp('2017-07-01 00:00:00')

In [ ]:
# How to visualize?

In [9]:
# What kind of index do we have?
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [10]:
data['1951-11-11':'1951-11-12']

Empty DataFrame
Columns: [value]
Index: []

In [11]:
# What if we want a period index?
data_pd = data.to_period()

In [12]:
data_pd['1951-11-11':'1951-11-12']

            value
month
1951-11 -0.068519

In [13]:
data_pd['1951-11-11':'1952-01-12']

            value
month
1951-11 -0.068519
1951-12  1.987200
1952-01  0.368250

In [ ]:
# Which is more appropriate for this data?
# period, since these are likely monthly averages, not values for the particular date

In [14]:
# How do various data loads perform?
import timeit

print("infer_datetime_format = True, no date parser")
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None,)

print("infer_datetime_format = False, no date parser")
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = False, header = None,)

print("infer_datetime_format = True, date parser provided")
dateparse = lambda x, y: pd.datetime.strptime('%s-%s'%(x,y), '%Y-%m')
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, date_parser = dateparse,  header = None,)

print("infer_datetime_format = False, date parser provided")
dateparse = lambda x, y: pd.datetime.strptime('%s-%s'%(x,y), '%Y-%m')
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = False, date_parser = dateparse,  header = None,)

infer_datetime_format = True, no date parser
10 loops, best of 3: 177 ms per loop
infer_datetime_format = False, no date parser
10 loops, best of 3: 183 ms per loop
infer_datetime_format = True, date parser provided
1 loop, best of 3: 179 ms per loop
infer_datetime_format = False, date parser provided
10 loops, best of 3: 195 ms per loop

In [15]:
# What if you already have the data frame and want to parse columns?
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5],'hour': [2, 3]})
df

   day  hour  month  year
0    4     2      2  2015
1    5     3      3  2016

In [16]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [17]:
pd.to_datetime(df[['year', 'month', 'day']])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [20]:
# Does it work with other column names?
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5],'hour': [2, 3], 'minute':[5,10], 'second':[1,2]})

In [21]:
pd.to_datetime(df)

0   2015-02-04 02:05:01
1   2016-03-05 03:10:02
dtype: datetime64[ns]

In [4]:
# Go get your own time series data, load it in, and see what you can see
# Hint: http://pandas.pydata.org/pandas-docs/stable/remote_data.html

import pandas_datareader.data as web
import datetime

start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2017, 6, 6)

f = web.DataReader('F', 'yahoo', start, end)

In [5]:
f.head()

             Open   High    Low  Close  Adj Close    Volume
Date
2017-01-03  12.20  12.60  12.13  12.59  12.070537  40510800
2017-01-04  12.77  13.27  12.74  13.17  12.626606  77638100
2017-01-05  13.21  13.22  12.63  12.77  12.243111  75628400
2017-01-06  12.80  12.84  12.64  12.76  12.233523  40315900
2017-01-09  12.79  12.86  12.63  12.63  12.108887  39438400

In [12]:
# 1. plot 2. get range of dates 3. convert between time and period index

f_pd = f.to_period('D')
f_pd.head()

             Open   High    Low  Close  Adj Close    Volume
Date
2017-01-03  12.20  12.60  12.13  12.59  12.070537  40510800
2017-01-04  12.77  13.27  12.74  13.17  12.626606  77638100
2017-01-05  13.21  13.22  12.63  12.77  12.243111  75628400
2017-01-06  12.80  12.84  12.64  12.76  12.233523  40315900
2017-01-09  12.79  12.86  12.63  12.63  12.108887  39438400

In [6]:
# Let's experiment with truncate convenience function
ts = pd.Series(range(10), index = pd.date_range('7/31/2015', freq = 'M', periods = 10))
ts.truncate(before='10/31/2015', after='12/31/2015')

2015-10-31    3
2015-11-30    4
2015-12-31    5
Freq: M, dtype: int32

In [7]:
# You can truncate in a way that breaks frequency
ts[[0, 2, 6]].index

DatetimeIndex(['2015-07-31', '2015-09-30', '2016-01-31'], dtype='datetime64[ns]', freq=None)

In [8]:
# It will save you when it can
ts.ix[0:10:2].index

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  from ipykernel import kernelapp as app

DatetimeIndex(['2015-07-31', '2015-09-30', '2015-11-30', '2016-01-31',
               '2016-03-31'],
              dtype='datetime64[ns]', freq='2M')